vendor/
todoapp-client/node_modules/
npm-debug.log

# Laravel 4 specific
todoapp-server/bootstrap/compiled.php
todoapp-server/app/storage/

# Laravel 5 & Lumen specific
todoapp-server/public/storage
todoapp-server/public/hot
todoapp-server/storage/*.key
todoapp-server/.env.*.php
todoapp-server/.env.php
todoapp-server/.env
todoapp-server/Homestead.yaml
todoapp-server/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
